h1,
h2,
h3,
a {
  font-family: "Francois One", sans-serif;
  color: white;
}
h1 {
  margin: 20px auto;
  font-size: 40px;
  font-size: 10vh;
  text-shadow: 1px 10px 15px #114f39;
}
a,
h2 {
  font-size: 20px;
  text-align: center;
}
h3,
a {
  margin: 10px 0;
}
p,
ul,
li,
input {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
}
li {
  list-style-type: none;
}
input {
  text-align: center;
  font-size: 30px;
}
p {
  color: white;
}
#searchImg {
  width: 25px;
  height: auto;
}
//hide class
.hide {
  display: none;
}
//searchBar
form {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  input {
    height: 40px;
  }
}
body {
  background: content-box linear-gradient(217deg, rgba(42, 193, 141, 0.5), rgba(42, 193, 141, 0) 70.71%),
    linear-gradient(127deg, rgba(21, 75, 56, 0.8), rgba(161, 255, 222, 0) 70.71%),
    linear-gradient(336deg, rgba(179, 96, 77, 0.5), rgba(209, 110, 88, 0) 70.71%);
  background-repeat: no-repeat;
  min-height: 100vh;
}
#topRatedBloc{
  margin: 20px 0 20px 50px;
  div {
    margin: 10px;
  }
}