#results,
#top {
  margin-top: 30px;
}
#filmList,
#tvShowsList,
#artistList,
#topList {
  margin-top: 20px;
  li {
    margin-top: 10px;
    border-bottom: dotted 1px white;
  }
}
.filmTxt {
  padding: 0;
  span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #baffe7;
  }
}
.filmPict {
  width: 100%;
  margin-bottom: 10px;
}
